/* Main container for the Gantt chart component */
.root {
  position: relative;
  font-family: "Inter", sans-serif;
}

/* Container for projects and chart */
.subRoot {
  display: flex;
}

/* Container for project cards */
.projects {
  width: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow-y: auto;
  border-right: 0;
  scroll-behavior: smooth;
}

/* Style for projects heading */
.projectsHeading {
  margin: 20px 0;
}

/* Container for chart */
.chartContainer {
  width: 60%;
}

/* Container for parent of Gantt chart */
.parent {
  display: grid;
  place-items: center;
  overflow-x: scroll;
  border: 1px solid #e0e0e0;
  border-radius: 0 0 10px 0;
  border-left: 0;
  border-top: 0;
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px);
}

/* Set styles for the Gantt chart container */
.ganttChart {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 52px 100%;
}

/* Set styles for the header of the Gantt chart */
.ganttChartHeader {
  position: sticky;
  display: flex;
  align-items: center;
  border-radius: 0 10px 0 0;
  border: 1px solid #e0e0e0;
  height: 60px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

/* Set styles for a bottom border with 1px width */
.borderBottom1 {
  border-bottom: 1px solid #e0e0e0;
}

/* Set styles for the days container in the header of the Gantt chart */
.ganttChartDays {
  display: flex;
}

/* Set styles for the body of the Gantt chart */
.ganttChartBody {
  border-radius: 0 0 10px 0;
  scroll-behavior: smooth;
}

/* Set styles for each day in the header of the Gantt chart */
.ganttChartDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  box-sizing: border-box;
  white-space: pre-wrap;
}

/* Set styles for each project row in the body of the Gantt chart */
.ganttChartProject {
  display: flex;
  flex-direction: column;
  padding-top: calc(44px + 1.17em);
  padding-bottom: 14px;
}

/* Set styles for each row in the body of the Gantt chart */
.ganttChartRow {
  display: flex;
  align-items: center;
}

/* Set styles for the last row in the body of the Gantt chart */
.ganttChartRow:last-child {
  border-bottom: none;
}

/* Set styles for each task row in the body of the Gantt chart */
.ganttChartTaskRow {
  flex: 1;
  display: flex;
  height: 35px;
  position: relative;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  margin-top: 21px;
  margin-bottom: 6px;
}

/* Set styles for each task in the body of the Gantt chart */
.ganttChartTask {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 100%;
  margin: auto 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
}

/* Set styles for each date column in the body of the Gantt chart */
.ganttChartDateColumn {
  flex-grow: 1;
}

/* Style for the button that switches to the next tab */
.nextTab {
  position: absolute;
  bottom: 20px;
  right: 40px;
  padding: 10px;
  box-shadow: 0px 0px 40px #5e5e5e;
  border-radius: 10px;
  border: 1px solid #aeaeae;
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar track for Chrome, Edge, and Safari */
::-webkit-scrollbar-track {
  display: none;
}

/* Hide scrollbar thumb for Chrome, Edge, and Safari */
::-webkit-scrollbar-thumb {
  display: none;
}
